In [8]:
import pandas as pd
import numpy as np
import zipfile

In [9]:
z = zipfile.ZipFile("C:/Users\Fibonacci\Downloads\96967247.zip")
files = z.namelist()
files

['data/MKTX.csv', 'data/GPC.csv', 'data/HCA.csv', 'data/BKNG.csv']

In [10]:
def load_file(z, file_name):
    company = file_name.replace("data/", "").replace(".csv", "")
    return pd.read_csv(z.open(file_name), parse_dates = ["Date"]).assign(company = company)
with zipfile.ZipFile("C:/Users\Fibonacci\Downloads\96967247.zip") as z:
    df = pd.concat([load_file(z, f) for f in files]).set_index(["company", "Date"])

In [11]:
df

                           High          Low         Open        Close  \
company Date
MKTX    2017-11-13   174.940002   171.600006   173.399994   174.520004
        2017-11-14   175.520004   173.619995   174.509995   173.940002
        2017-11-15   178.690002   171.529999   172.960007   177.820007
        2017-11-16   178.960007   176.000000   178.960007   176.250000
        2017-11-17   181.520004   175.929993   176.000000   180.399994
...                         ...          ...          ...          ...
BKNG    2022-11-07  1886.829956  1797.920044  1876.010010  1833.819946
        2022-11-08  1892.949951  1830.569946  1835.790039  1859.189941
        2022-11-09  1882.339966  1830.069946  1840.000000  1865.819946
        2022-11-10  1955.300049  1916.400024  1946.859985  1946.510010
        2022-11-11  2033.380005  1936.310059  1936.310059  2015.770020

                      Volume    Adj Close
company Date
MKTX    2017-11-13  195200.0   170.268753
        2017-11-14  148600.0   169.702896
        2017-11-15  250500.0   173.488403
        2017-11-16  221900.0   171.956619
        2017-11-17  222500.0   176.005554
...                      ...          ...
BKNG    2022-11-07  433900.0  1833.819946
        2022-11-08  317700.0  1859.189941
        2022-11-09  359500.0  1865.819946
        2022-11-10  516200.0  1946.510010
        2022-11-11  442800.0  2015.770020

[5035 rows x 6 columns]

In [62]:
c = df.groupby("company")
(c["Open"]==c["Close"]).sum()

AttributeError: 'bool' object has no attribute 'sum'

In [41]:
highest = df.groupby('company')['Volume'].max()
lowest = df.groupby('company')['Volume'].min()

In [42]:
highest

company
BKNG    1989800.0
GPC     3776300.0
HCA     8886800.0
MKTX    7603200.0
Name: Volume, dtype: float64

In [43]:
lowest

company
BKNG     97300.0
GPC     149500.0
HCA     288900.0
MKTX     51900.0
Name: Volume, dtype: float64

In [ ]:
a = df['Adj Close'] / df['Adj Close'].shift(1)
a.groupby("company").describe()

,count,mean,std,min,25%,50%,75%,max
company,,,,,,,,
BKNG,1259.0,1.005704,0.189829,0.887626,0.989126,1.000826,1.011150,7.685425
GPC,1259.0,1.000285,0.028122,0.262963,0.992441,1.001669,1.009273,1.209187
HCA,1258.0,1.000714,0.029498,0.420196,0.990305,1.000869,1.011604,1.225598
MKTX,1258.0,1.000645,0.021906,0.879889,0.989927,1.001358,1.011880,1.161423

In [ ]:
grouped = a.groupby("company")

In [ ]:
print(a)

company  Date
MKTX     2017-11-13         NaN
         2017-11-14    0.996677
         2017-11-15    1.022307
         2017-11-16    0.991171
         2017-11-17    1.023546
                         ...
BKNG     2022-11-07    0.978350
         2022-11-08    1.013835
         2022-11-09    1.003566
         2022-11-10    1.043246
         2022-11-11    1.035582
Name: Adj Close, Length: 5035, dtype: float64

In [ ]:
df.groupby('Company')['Volume'].sum().idxmax()

In [ ]:
return_on_investment = a.groupby("company").prod()
final_return = return_on_investment*1000
final_return

company
BKNG    8995.760456
GPC      628.168071
HCA     1259.159324
MKTX    1663.840151
Name: Adj Close, dtype: float64

In [ ]:
weekly_volume = df.groupby(["company", pd.Grouper(freq = "1W", level = "Date")])
print(weekly_volume.Volume.sum().unstack("company").mean())

company
BKNG    2.006354e+06
GPC     3.943100e+06
HCA     8.712719e+06
MKTX    1.393556e+06
dtype: float64

In [ ]:
new_data = pd.DataFrame({
    "column1": [df["company"] == BKNG]
    
    
    
    
    
    
   } )

KeyError: 'company'

In [31]:
data = pd.read_csv("C:/Users\Fibonacci\Downloads\companies_no_subindustry.csv")

In [32]:
data.columns

Index(['Symbol', 'Security', 'GICS_Sector', 'hq', 'included', 'Founded'], dtype='object')

In [33]:
data["GICS_Sector"].value_counts().head(1)

Information Technology    75
Name: GICS_Sector, dtype: int64

In [38]:
dict = data.set_index("Symbol")["GICS_Sector"].to_dict()
data["Energy"]("dict")

KeyError: 'Energy'

<pandas.core.groupby.generic.SeriesGroupBy object at 0x00000237D7662100>